<div class="detail-root-panel">
    <mat-card class="group-panel">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="25px">
            <div fxFlex="35" fxFlex.gt-md="25" fxFlexOrder="1" fxFlexOrder.xs="2">
                <img [alt]="item.name" *ngIf="item.thumbnail"
                    src="{{item.thumbnail?.path}}/detail.{{item.thumbnail?.extension}}">
            </div>
            <div fxFlex fxFlexOrder="2" fxFlexOrder.xs="1">
                <p class="mat-headline">Comic: {{item.title}}</p>
                <p class="mat-body"><strong>Description:</strong> {{item.description}}</p>
                <p class="mat-caption"><strong>Issue Number:</strong> {{item.issueNumber}}</p>
                <p class="mat-caption"><strong>Format:</strong> {{item.format}}</p>
                <p class="mat-caption"><strong>Page Count:</strong> {{item.pageCount}}</p>
            </div>
        </div>
    </mat-card>

    <mat-card class="group-panel horizontal-images">
        <p class="mat-title">Comic's Images ({{item.images?.length}})</p>
        <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="350" minBufferPx ="350"  maxBufferPx ="700"
            *ngIf="item.images?.length>0">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="25px" fxFlexFill="true">
                <img fxFlex="auto" [alt]="item.name" *cdkVirtualFor="let image of item.images"
                        src="{{image.path}}/detail.{{image.extension}}">
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-card>
    
    <mat-card class="group-panel">
        <div fxLayout="row">
            <span fxFlex="auto" class="mat-title">Comic's Characters</span>
            <button fxFlex="initial" mat-stroked-button
                routerLink="/comics/{{item.id}}/characters" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                View detailed Characters list <span class="mat-small">&#183; {{item.characters?.available}}</span>
            </button>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let character of item.characters?.items">
                {{character.name}}
            </mat-list-item>
        </mat-list>
    </mat-card>

    <mat-card class="group-panel">
        <div fxLayout="row">
            <span fxFlex="auto" class="mat-title">Comic's Stories</span>
            <button fxFlex="initial" mat-stroked-button
                routerLink="/comics/{{item.id}}/stories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                View detailed Stories list <span class="mat-small">&#183; {{item.stories?.available}}</span>
            </button>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let story of item.stories?.items">
                {{story.name}}
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>