<div class="app-container" [class.is-handset]="(layoutService.isHandset | async)" >
  <div class="loader-status" *ngIf="loaderService.isLoading | async">
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </div>
  
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="app-title">
      <span class="app-name">Marvel's Catalog App</span>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
  [style.marginTop.px]="(layoutService.isHandset | async) ? 56 : 0">
    <mat-sidenav #drawer class="sidenav" 
        [fixedInViewport]="(layoutService.isHandset | async)" 
        fixedTopGap="56"
        [attr.role]="(layoutService.isHandset | async) ? 'dialog' : 'navigation'"
        [mode]="(layoutService.isHandset | async) ? 'over' : 'side'"
        [opened]="(layoutService.isHandset | async) === false">
      <mat-toolbar>
        Menu
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon matListIcon>home</mat-icon>Home</a>
        <a mat-list-item routerLink="/characters" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon matListIcon>account_circle</mat-icon>Characters</a>
        <a mat-list-item routerLink="/comics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon matListIcon>import_contacts</mat-icon>Comics</a>
        <a mat-list-item routerLink="/stories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon matListIcon>speaker_notes</mat-icon>Stories</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
