<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxFill
    class="detail-child-panel">

    <div fxFlex="25" fxFlex.xs="none">
        <mat-card class="detail-panel" fxFlex>
            <div fxLayout="row wrap" fxLayout.xs="row" fxLayoutAlign="start start" fxFill>
                <div fxFlex="100" fxFlex.xs="25">
                    <img [alt]="item.name"
                        src="{{item.thumbnail?.path}}/detail.{{item.thumbnail?.extension}}">
                </div>
                <div fxFlex="100">
                    <p class="mat-headline">Character: {{item.name}}</p>
                    <p class="mat-body"><strong>Description:</strong> {{item.description}}</p>
                </div>
            </div>
        </mat-card>
    </div>
    
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="auto">
        <mat-paginator fxFlex="none"
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="paginate($event)">
        </mat-paginator>

        <cdk-virtual-scroll-viewport itemSize="200" minBufferPx ="300" maxBufferPx ="400" fxFlex>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="25px" >
              <div fxFlex class="composed-card-small" *cdkVirtualFor="let item of data">
              <mat-card>
                  <mat-card-header>
                      <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                      <p>
                          {{item.description}}
                      </p>
                  </mat-card-content>
    
                    <mat-card-actions>
                        <button mat-raised-button
                          routerLink="/story-character/{{item.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                          Characters <span class="mat-small">&#183; {{item.characters.available}}</span>
                        </button>
                        <button mat-raised-button
                          routerLink="/story-comic/{{item.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                          Comics <span class="mat-small">&#183; {{item.comics.available}}</span>
                        </button>
                    </mat-card-actions>
                </mat-card>
              </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
