<div class="detail-root-panel">
    <mat-card class="group-panel">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="25px">
            <div fxFlex fxFlexOrder="2" fxFlexOrder.xs="1">
                <p class="mat-headline">Story: {{item.title}}</p>
                <p class="mat-body"><strong>Description:</strong> {{item.description}}</p>
            </div>
        </div>
    </mat-card>

    <mat-card class="group-panel">
        <div fxLayout="row">
            <span fxFlex="auto" class="mat-title">Story's Characters</span>
            <button fxFlex="initial" mat-stroked-button
                routerLink="/stories/{{item.id}}/characters" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                View detailed Characters list <span class="mat-small">&#183; {{item.characters?.available}}</span>
            </button>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let character of item.characters?.items">
                {{character.name}}
            </mat-list-item>
        </mat-list>
    </mat-card>
    
    <mat-card class="group-panel">
        <div fxLayout="row">
            <span fxFlex="auto" class="mat-title">Story's Comics</span>
            <button fxFlex="initial" mat-stroked-button
                routerLink="/stories/{{item.id}}/comics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                View detailed comics list <span class="mat-small">&#183; {{item.comics?.available}}</span>
            </button>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let comic of item.comics?.items">
                {{comic.name}}
            </mat-list-item>
        </mat-list>
    </mat-card>

</div>