/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.composed-card {
    max-width: 400px;
    min-width: 100px;
    // height: 400px;
    // min-height: 400px;
    // max-height: 400px;
    // margin: auto;
    // margin-top: 1em;
    // margin-bottom: 1em;
}
  
.composed-card img {
    padding: 1em;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.composed-card p {
    width: 100%;
    height: 1.2em;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.filter-expansion-panel .mat-expansion-panel-body {
    padding: 0px !important;
}

.filter-container {
    padding: 0.5em;
}